.github-issue {
  list-style: none;
}

.predefined-queries {
  button {
    display: block;
    width: 100%;
  }
}

.search-form {
  position: relative;

  .search-icon {
    color: #ccc;
    position: absolute;
    top: 9px;
    left: 8px;
  }

  .search-count {
    color: #aaa;
    position: absolute;
    height: 30px;
    top: 9px - 3px;
    left: 8px + 16px + 7px;
  }

  .search-input {
    padding-left: 30px;
  }
}

.the-issue {
  border: 1px solid gray;
  border-radius: 4px;
  display: block;
  padding: 0.5rem;
  position: fixed;
  margin-right: 4px;
  // top: 200px;
  // left: 200px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  max-width: 640px;

  .title, .author {
    font-weight: bold;
  }

  .number {
    color: #aaa;
  }

  .description {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
  }
}

// primer-css doesn't support
.comment-body {
  width: 100%;
  overflow: visible;
  font-size: 14px;
}

