<div *ngIf="error" class="flash flash-error mb-1">{{error}}</div>

<div class="columns">

  <div class="one-fifth column">
    <div class="predefined-queries">
      <button *ngFor="let b of predefinedQueryButtons"
        class="btn btn-outline btn-sm mb-1"
        type="button" (click)="onClickPredefinedQuery(b)">{{b.text}}</button>
    </div>
    <nav class="menu">
      <span class="menu-heading">Query history</span>
      <a *ngFor="let query of appService.getQueryHistory().slice(1, 1 + 5)"
        class="menu-item" style="cursor: pointer"
        (click)="selectQuery(query)">
        {{query.q}}
      </a>
    </nav>
  </div>

  <div class="four-fifths column">
    <!-- <div>selected issue count: {{appService.getSelectedIssueIDs().size}}</div> -->
    <form #f="ngForm" [formGroup]="form" class="search-form">
      <input class="form-control input-block search-input"
        formControlName="query"
        [ngStyle]="{'padding-left': searchCountWidth}"
        #input (keyup.enter)="onEnterQuery(input.value)"
        placeholder="GitHub search syntax is available" />
      <svg version="1.1" width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-search search-icon" aria-hidden="true">
        <use xlink:href="#search" />
      </svg>
      <span id="search-form.search-count" class="search-count">{{searchResult.total_count}}</span>
      <input style="display: none;" formControlName="page" />
    </form>

    <github-pagination
      *ngIf="searchResult.linkPage ? !!(searchResult.linkPage.prev || searchResult.linkPage.next) : false"
      [page]="searchResult.linkPage"
      [link]="searchResult.linkHeader"
      (jump)="onJump($event)"></github-pagination>

    <div *ngIf="searchResult.issues.length > 0">
      <li *ngFor="let issue of searchResult.issues" class="github-issue">
        <github-issue [issue]="issue"
          [selected]="isSelected(issue)"
          (select)="onSelect($event)"
          (clickLabel)="onClickLabel($event)"></github-issue>
      </li>
    </div>

    <div *ngIf="searchResult.issues.length == 0" class="blankslate mt-1">
      <svg version="1.1" width="24" height="24" class="octicon octicon-issue-opened" aria-hidden="true">
        <use xlink:href="#issue-opened" />
      </svg>
      <h3>No found issues</h3>
      <p>Please check the query.</p>
    </div>
  </div>

</div>
