.github-issue {
  list-style: none;
}

.predefined-queries {
  button {
    display: block;
    width: 100%;
  }
}

.search-form {
  position: relative;

  .search-input {
    padding-left: 30px;
  }

  .search-icon {
    color: #ccc;
    position: absolute;
    top: 9px;
    left: 8px;
  }
}