.issue {
  display: table-row;
}

.issue-list-cell {
  display: table-cell;
  position: relative;
  vertical-align: top;
  border-top: 1px solid #eee;
  padding: 8px 10px;
  padding-top: 13px;
}
  
.cb {
  width: 30px;

  .star {
    display: none;
  }
}

.icon {
  width: 20px + 10px*2;
  text-align: center;
  .octicon-issue-opened, .octicon-git-pull-request {
    color: #6cc644;
  }
  .octicon-issue-closed {
    color: #bd2c00;
  }
  .merged.octicon {
    color: #6e5494;
  }
}

.title {
  //width: 740px;
  //width: 300px;
  width: 480px;
  word-break: break-word;
  padding-top: 12px;

  .link {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #333;
  }

  .issue-meta {
    margin-bottom: 2px;
    font-weight: normal;
    color: #999;
  }
}

.avatar {
  width: 16px;
  overflow: visible;  // to view tooltip correctly
}

.comment {
  width: 60px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;

  .octicon {
    vertical-align: middle;
  }
}

.starred {
  .cb {
    input {
      display: none;
    }

    .star {
      display: block;
      color: #ffde7b;
    }
  }

  .icon {
    display: none;
  }
}

.label {
  display: inline-block;
  padding: 3px 4px;
  margin: 0 0 0 1px;
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  border-radius: 2px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
}