.app-menu {
    list-style: none;

    display: flex;
    flex-flow: row wrap;

    li {
        width: 90px;
        text-align: center;
    }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex: 1;
  }

  .footer {
    margin: 40px 0;
  }
}
