<div class="container">
  <div class="columns">
    <div class="one-fifth column">
      <nav class="menu">
        <span class="menu-heading">Menu heading</span>
        <a class="menu-item"
           [ngClass]="navigationEnd.url.match('/issues') ? 'selected' : ''"
           routerLink="issues"
           >Issues</a>
        <a class="menu-item"
           [ngClass]="navigationEnd.url.match('/settings') ? 'selected' : ''"
           routerLink="settings"
           >Settings</a>
      </nav>
    </div>
    <div class="four-fifths column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
